.test{
    width: 100vw;
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: flex-end;
    position: absolute;
    z-index: 4;
    bottom:  0;
}

.countanir{
    max-width: 454px;
    justify-content: center;
    align-items: flex-start;
    display: flex;
    padding: 20px;
    gap: 8px;
}

.canvas_countanir{
    z-index: 1;
    

}

.canvas_countanir2{
    z-index: 2;
    
}




.item{
    background-color: black;
    padding: 8px 10px;
    border-radius: 16px;

}

p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: aliceblue;
}

.webgl {
	outline: none;
    z-index: 2;
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}


.webgl_click {
	position: absolute;
	bottom: 1px;
	left: 0;
	outline: none;
    z-index: 2;

}


.char{
	position: relative;
	bottom: 250px;
	left: -100px;
	outline: none;
    z-index: 1;
    width: 100vw;
    height: 100vh;

}

.canvas_count{
    display: flex;
    margin: auto;
    align-items: center;
}



.wrap {
width: 100%;
height: 100%;

}

#three-canvas {
width: 100%;
height: 100%;
position: absolute;
top: 0;
left: 0;
}