
  
  @media screen and (max-width: 479px) {
    .coompany-info {
      grid-column-gap: 146px;
    }
  
    .vectors-wrapper {
      width: 32px;
      height: 32px;
    }
  
    .tab-bar_tabs {
      overflow: auto;
    }
  
    .mybutton {
      display: flex;
    }
  }