@media screen and (max-width: 767px) {
    .bottom {
      justify-content: flex-start;
      align-items: flex-start;
    }
  
    .coompany-info {
      grid-column-gap: 151px;
    }
  
    .vectors-wrapper {
      width: 32px;
      height: 32px;
    }
  
    .tab-bar_arrows {
      display: none;
    }
  
    .tab-bar_tabs {
      overflow: auto;
    }
  
    .tab-bar_arrows-2 {
      display: none;
    }
  
    .goods_item-01 {
      width: 70px;
      height: auto;
    }
  
    .goods_img-01 {
      display: none;
    }
  
    .show-info-fake {
      flex-flow: row;
      width: 100%;

    }

    .show-info{
        width: 100%;
    }
  
    .goods_item_info_right, .goods_img-02, .goods_img-03, .goods_img-04 {
      display: none;
    }
  
    .goods_img-01_mobile, .goods_img-03_mobile, .goods_img-02_mobile, .goods_img-04_mobile {
      width: 70px;
      display: block;
    }
  
    .text-2_goods {
      font-size: 10px;
      line-height: 10px;
    }

    .floating {
      display: none;
    }

    .h1 {
      letter-spacing: -.7vw;
      font-size: 8.7vw;
      line-height: 8vw;
    }
    .layer {
      flex-flow: column;
    }

    .images {
      grid-column-gap: 10px;
      flex-direction: row;
      height: 100%;
      overflow: auto;
    }
  
    .rectangle-62 {
      height: 100%;
    }
  
    .actions_product {
      flex-direction: row;
    }
  }